.first-box img{
	width: 100%;
}
.second-box{
	margin-top: 14px;
}
.second-item .second-item-time{
	font-weight: bolder;
	color: #333333;
}
.second-item .second-item-title{
	font-weight: bolder;
	font-size: 16px;
	margin: 10px 0;
}
.second-item-content p{
	text-align: justify;
}
.second-item-bottom-line{
	border-top: 2px solid #000;
	padding: 10px 0;
}
.bottom-item-logo img{
	width: 30%;
}
.bottom-item-tips{
	float: right;
}
.second-item-bottom .bottom-item{
	padding-left: 0;
	padding-right: 0;
}
.second-item-bottom .col-xs-4{
	padding-right: 15px;
}
.bottom-item-tel{
	margin-top: 5px;
}