<include file="Layouts/header" />
<!-- 当前页面 css -->
<link rel="stylesheet" href="/Apps/Wap/View/Winddirection/css/inDetails.css">

	<!-- 内容主体start -->
	<div class="row first-box">
	  <img src="/Apps/Wap/View/Winddirection/img/风象顶部.png" class="img-responsive" alt="Responsive">
	</div>
	<!-- 第一部分 end -->
	<!-- 第二部分 start -->
    <div class="row second-box">
      <div class="col-xs-12 second-item">
        <div class="second-item-time">2017-05-16 时事</div>
      </div>
      <div class="col-xs-12 second-item">
        <div class="second-item-title">企业家如何去购买品牌设计？</div>
        <div class="second-item-content">
        	<p>每个企业都在说：“我是品牌”！你以为注册个商标、写个品牌故事、在媒体上打广告的就是品牌吗？要是真
有那么简单，那我天天光注册就够了，还辛苦打拼什么？</p>
        	<p>品牌的最新定义是：品牌的注册地点不是商标局，而是在顾客的大脑。当顾客产生需求时，能想到你是这类产
品或服务的代表，从而选择你而不是竞争对手。换言之，就是在顾客脑子里打下了烙印的名称，才称得上是品
牌！经过多个案子的实操显示，在合理的时间节点，正确的、有定位的设计决定可以为品牌传播节省超过百分
之八十以上的费用和减少百分之八十的内部推广运营动作，这就是定位设计。
</p>
        	<p>从来没有人给出过购买设计的标准，一直以来传统设计都是提供美学至上的成果，可是潜在顾客都是非专业购
买，他们需要的是信息，而美学主导的设计一般都是牺牲信息为代价。这种情况下企业家该如何购买一套有
价值的设计？</p>
        	<p>1.首先，品牌要有一个好的名字，好的名字必须是一看就知道做什么的，也就是具备品类属性但不能品类化，顾客购买的是品类，再就是有凸显性，比如淘宝，好的名字必须简单好记，比如支付宝； 这是作为品牌名最重要的要求。没被记住，就像甩在墙上的亿万个子孙，一切机会都没了。在这个信息爆炸的时代，面对消费者容量有限的大脑，如何让你的名字被记住可是个大挑战。说到记忆，我们要从人的记忆规律上去研究。记忆钟情于已知的、可以理解的东西。对于杂乱无章的东西，大脑会天然地抗拒。</p>
        	<p>举个例子，大家试着记下面两个句子：a.家里进了只老虎；b.诗吉达智旺卡柔。看完文章你再回忆一下，你铁
定记不清b说的啥？圆周率大家都知道特别难记，散乱且无规律。但有人把它编成这样，“山巅一寺一壶酒（3.14159），尔乐苦煞吾（26535），把酒吃（897），酒杀尔（932），杀不死（384），乐尔乐（626）”这样很快就记住了。</p>
        	<p>2.品牌必须要有一个清晰的购买理由，这个理由是对手还没提出来的，最好是对手无法提出来的，你能占据的，关键还要看这个特性是否有足够的成长空间，因为后面的设计只能依赖它展开，俗话说的好“我凭什么买你的东西？你有什么不同？要么你便宜一点”；</p>
        	<p>3.品牌设计必须符合潜在顾客已有的认知或习惯，习惯是源自安全感，人们一旦对某种事物产生认知，这种群体认知和习惯就很难改变了，想改变一个群体的认知等于给企业找死，你要改变的只有自己和公司；</p>
        	<p>4.品牌的设计必须极度简单，今天全社会都复杂浮躁无比，关键人的大脑一遇见复杂就会启动保护机制；</p>
        	<p>5.品牌设计一定要保持跟同行竞争对手完全不同，因为一般顾客很难觉察差不多的东西，他们没有这种能力和耐心去分析或听你解释你的不同；</p>
        	<p>6.品牌必须第一个启动传播，当然擅长公关最好，没有被人知道你就相当于不存在，特别是今天信息极度干扰的社会，不能整天只会埋头苦干装低调；</p>
        	<p>7.品牌设计一但选定某种风格就必须一直坚持下去，这个风格最好是基于你品牌的购买理由和场景展开的，不要天天去玩那些虚无缥缈的创意，不要自己想当然地为不同品类的产品贴上同样风格的标签就有机会卖，因为现在这个社会选择太多，信息干扰太多，渠道选择太多，人情世故太多，人心容易失去焦点，你一会儿做这种感觉一会儿出那种产品，他们会记不住你而放弃你；</p>
        	<p>8.品牌设计必须一眼就能看出是什么行业或什么类别的，人们寻找购买什么东西之前首先考虑的是产品的类别，这个类别很多时候不是物理性的，它可能是个概念，人们分门别类做选择，并且偏向选同类别最好的，张冠李戴的事不要干。</p>
        	<p>9.没有顾客调研思维的团队不要合作，判断有没有调研思维就看有没有外部视角，也就是理解你的品牌面对的顾客大脑里想什么。</p>
        </div>
      </div>
	  <div class="col-xs-12 second-item-bottom">
	      <div class="second-item-bottom-line">
	        <div class="col-xs-4 bottom-item">
	            <div class="bottom-item-qrcode">
	              <img src="/Apps/Wap/View/Winddirection/img/二维码.png" class="img-responsive" alt="Responsive image">
	            </div>
	        </div>
	        <div class="col-xs-8 bottom-item">
	          <div class="bottom-item-logo">
	             <img src="/Apps/Wap/View/Winddirection/img/logo.png" alt="Responsive image">
	             <span class="bottom-item-tips">形于服 迹寻象</span>
	          </div>
	          <div class="bottom-item-tel">
	            <ul class="list-inline">
	              <li>T:13923636238 </li>
	              <li>Q:1853308592 </li>
	              <li></li>
	            </ul>
	          </div>
	        </div>
	      </div>
	  </div>
    </div>
	<!-- 内容主体end -->

<include file="Layouts/footer" />