
		
	  	<!-- 底部内容 start-->
        <div style="height: 160px;"></div>
        <div class="row downContent">
            <div class="col-xs-3 QRcode">
                <img src="{$foot.publicurl}">
                <p>关注迹象平台</p>
            </div>
            <div class="col-xs-9 addressMsg">
		<div class="downjx">
                    <img src="/Apps/Wap/View/Layouts/img/logo1.png">
                    <p>惠州迹象视觉文化传媒有限公司</p>
                    <p>{$foot.site}</p>
                    <p>TEL：{$foot.phone}</p>
                    <p>QQ：{$foot.qq}</p>
		</div>
		<div style="clear:both;"></div>
            </div>
	    <div class="col-xs-12 jishu">
		<p>技术支持:重庆存己科技</p>
	    </div>
        </div>
        <!-- 底部内容 end-->
	  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/Apps/Wap/View/Layouts/js/bootstrap.min.js"></script>
    <!-- 阿里icon -->
    <script src="//at.alicdn.com/t/font_n1tnuvlsny611yvi.js"></script>
	<!-- 底部菜单js -->
    <script type="text/javascript" src="/Apps/Wap/View/Layouts/js/contentHeight.js"></script>
    </body>
</html>